@media (max-width:896px) and (min-width:414px){
    nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 56px;
            padding-left: 0px;
            padding-bottom: 50px;
            font-size: 10px;
            padding-bottom: 10%;
    }
    
    .nav-item {
        padding: 0px 1px;
        cursor: pointer;
    }
    
    .nav-item:hover {
        background-color: lightgreen;
        border-top-left-radius: 9999px;
        border-top-right-radius: 9999px;
        border-bottom-left-radius: 9999px;
        border-bottom-right-radius: 9999px;
    }
    .pic {
        width: 40%;
        border-radius: 80%;
}
}
@media (max-width:667px) and (min-width:375px){
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        padding-left: 0px;
        padding-bottom: 50px;
        font-size: 10px;
        padding-bottom: 20%;
}

.navv {
    font-size: small;
    display: block;
    width: 150%;
    color: black;
    background: #76bb27;
    padding: 3px 0px;
    margin: 10px 3px;
    box-shadow: 5px 5px green;
    text-align: center;
    cursor: pointer;
}

.nav-item {
    padding: 0px 1px;
    cursor: pointer;
}

.nav-item:hover {
    background-color: lightgreen;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
}
.pic {
    width: 40%;
    border-radius: 80%;
}
}
@media (max-width:740px) and (min-width:360px){
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        padding-left: 0px;
        padding-bottom: 50px;
        font-size: 10px;
        padding-bottom: 10%;
}

.navv {
    font-size: small;
    display: block;
    width: 150%;
    color: black;
    background: #76bb27;
    padding: 3px 0px;
    margin: 10px 3px;
    box-shadow: 5px 5px green;
    text-align: center;
    cursor: pointer;
}

.nav-item {
    padding: 0px 1px;
    cursor: pointer;
}

.nav-item:hover {
    background-color: lightgreen;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
}
.pic {
    width: 40%;
    border-radius: 80%;
}
}
@media (max-width:653px) and (min-width:280px){
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        padding-left: 0px;
        padding-bottom: 50px;
        font-size: 10px;
        padding-bottom: 10%;
}
.navv {
    font-size: small;
    display: block;
    width: 150%;
    color: black;
    background: #76bb27;
    padding: 3px 0px;
    margin: 10px 3px;
    box-shadow: 5px 5px green;
    text-align: center;
    cursor: pointer;
}
.nav-item {
    padding: 0px 1px;
    cursor: pointer;
}

.nav-item:hover {
    background-color: lightgreen;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
}
.pic {
    width: 40%;
    border-radius: 80%;
}
}
@media (max-width:914px) and (min-width:412px){
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        padding-left: 0px;
        padding-bottom: 50px;
        font-size: 10px;
        padding-bottom: 30%;
}

.nav-item {
    padding: 0px 1px;
    cursor: pointer;
}

.nav-item:hover {
    background-color: lightgreen;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
}
.pic {
    width: 40%;
    border-radius: 80%;
}
}
