@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Roboto:ital,wght@0,300;1,100&display=swap');

/* universal selector */

* {
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-family: 'Instrument Serif', serif;
    font-family: 'Roboto', sans-serif;
    
}

.about{
    padding-top: 10%;
}
.contact{
    padding-top: 10%;  
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 3px 30px;
    font-size: 18px;
    padding-bottom: 10%;
}

.nav-item {
    padding: 1% 3px;
    cursor: pointer;
}

.nav-item:hover {
    background-color: lightgreen;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
}
/* element selector */

h1 {
    color: rgb(37, 219, 37);
}


/* id selector */

#my-heading {
    color: rgb(32, 201, 32);
}


/* class selector */

.text_font {
    padding: 0% 15px;
    font-size: 18px;
}
/* p{
    font-size: 1.2rem;  
} */
a {
    text-decoration: none;
    color: green;
}

.pic {
        width:15%;
        border-radius: 80%;
}

body {
    background: rgb(0, 27, 0);
    color: rgb(105, 207, 105);
    font-family: 'Instrument Serif', serif;
    padding: 15px;
}

.navv:hover {
    background: lightgreen;
    transition: 0.3s;
}

.btn:hover {
    background: lightgreen;
    transition: 0.3s;
}

.icn:hover {
    color: lightgreen;
    transition: 0.3s;
}

.icnf:hover {
    color: lightgreen;
    transition: 0.3s;
}

.icn {
    margin: 1px;
    cursor: pointer;
    padding-top: 10px;
}

.icnf {
    margin: -8px;
    cursor: pointer;
}
.navv {
    font-size: small;
    display: block;
    width: 100%;
    color: black;
    background: #76bb27;
    padding: 3px 1px;
    margin: 10px 1px;
    box-shadow: 5px 5px green;
    text-align: center;
    cursor: pointer;
}

.btn {
    font-size: small;
    display: block;
    width: 20%;
    color: black;
    background: #76bb27;
    padding: 7px 10%;
    margin: 20px 30%;
    box-shadow: 6px 10px green;
    text-align: center;
    cursor: pointer;
}
